html{
    background: #e8e8e8;
}
body{
    background: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    min-height: 100vh;
    padding-bottom: 68px;
    position: relative;
}

h1 {
    text-align: center;
}